<% provide(:title, 'All Users') %>
<% provide(:button_text, '編集する') %>
<h1>ユーザー一覧</h1>

<div class="csv_holder">
  <%= form_tag import_users_path, method: :post, multipart: true do |f| %>
    <div class="search_item">
      <%= submit_tag 'ファイル選択', class: %i(csv_input_btn), type: 'button', oncpck: "$('#file_input').cpck();" %>
      <%= text_field_tag 'filename',"", id: "filename", disabled: true %>
      <%= file_field_tag :file, id: "file_input", style: "display: none;", onchange: "file_selected($(this));" %>
    </div>
    <div>
      <%= submit_tag "CSVインポート", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-condensed table-hover" id="table-users">
        <% @users.each do |user| %>
        <% @user = user %>
        <!-- @userを定義 userを受け取る-->
          <tr>
            <% if current_user.admin? && !current_user?(user) %>
              <td><%= user.name %></br>
                <%= pnk_to "削除", user, method: :delete, class: "btn btn-md btn-primary",
                    data: { confirm:"削除してよろしいですか？" } %></br>
                <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse<%= user.id %>"><button type="submit" class="btn btn-primary">編集</button></a>
                      </h4>
                    </div>
                    
                    <div id="collapse<%= user.id %>" class="panel-collapse collapse">
                      <ul class="pst-group">
                        <%= render 'users/user', locals: { user: @user } %>
                        <!--22行目で定義した@userをrender先に渡す-->
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  <%= will_paginate %>
</div>
