<% provide(:class_text, 'overtime application') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【残業申請】</h1>
    </div>
    <div class="modal-body">
      
      <%= form_with(model: @attendance, url:attendances_update_one_day_overtime_application_user_path(@user), local: true, method: :patch) do |f| %>
        <%= render 'shared/error_messages', object: @user %>
        <%= f.hidden_field :date, :value => @attendance.worked_on %>
        <table class="table table-bordered">

          <thead>
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>翌日</th>
              <th>業務処理内容</th>
              <th>指示者確認㊞</th>
            </tr>
          </thead>
          
          <tbody>
            <% day = @attendance %>
            <tr>
              <% css_class =
                case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
                when '土'
                  'text-primary'
                when '日'
                  'text-danger'
                end
              %>
              <th><%= l(@attendance.worked_on, format: :short) %></th>
              <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
              <th><%= f.time_field :"scheduled_end_time", class: "form-control" %></th>
              <th><%= f.check_box :"next_day", {}, "true", "false" %></th>
              <th><%= f.text_field :"business_process_content", class: "form-control" %></th>
              <th><%= f.collection_select(:id, User.where(superior: true), :id, :name, {prompt: "上長を選択してください。"}) %></th>
            </tr>
          </tbody>
        </table>
        <%# テーブルの中に入れるとボタンが動作しなくなる・テーブルをテーブルの中に入れ子にしない %>
        <%= f.submit yield(:button_text), class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
      <% end %>
    </div>
  </div>
</div>
