<% provide(:class_text, 'attendance change notification') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <%= form_with(model: @user, url:attendances_update_attendance_change_application_notification_user_path(@user), local: true, method: :patch) do |f| %>

        <% @users.each do |user| %>
        
          <table class="table table-bordered table-striped table-hover">
  
            <h2 class="modal-title">【<%= "#{user.name}" %>からの勤怠変更申請】</h2>
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>指定勤務終了時間</th>
                  <th>時間外時間</th>
                  <th>備考</th>
                  <th>指示者確認㊞</th>
                  <th>変更</th>
                  <th>勤怠を確認する</th>
                </tr>
              </thead>
            <% @change_applicant_attendances = @attendances.where(user_id: user.id) %>
            <% @change_applicant_attendances.each do |day| %>
              <%= f.fields_for "change_applicant_attendances[]", day do |change_applicant_attendance| %>
                <tbody>
                  <tr>
                    <% css_class =
                      case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
                      when '土'
                        'text-primary'
                      when '日'
                        'text-danger'
                      end
                    %>
                    <th>
                      <% if day.worked_on.present? %> <!--#lメソッドがday.worked_onがnilだとエラーになる-->
                        <%= l(day.worked_on, format: :short) %>
                      <% end %>
                    </th>
                    <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
                    <th>
                      <% if day.scheduled_end_time.present? %>
                        <%= l(day.scheduled_end_time, format: :time) %>
                      <% end %>
                    </th>
                    <th>
                      <% if user.designated_work_end_time.present? %>
                        <%= l(user.designated_work_end_time, format: :time) %>
                      <% end %>
                    </th>
                    <th>
                      <% if day.scheduled_end_time.present? %>
                        <%= overtime(user.designated_work_end_time, day.next_day, day.scheduled_end_time, day.worked_on) %>
                      <% end %>
                    </th>
                    <th><%= day.note %></th>
                    <th><%= change_applicant_attendance.select :attendance_change_application_status, [["承認", "承認"],["申請中", "申請中"],["否認", "否認"],["なし", "なし"]], :selected=>"申請中" %></th>
                    <th><%= change_applicant_attendance.check_box :change_for_attendance_change, {}, "true", "false" %></th>
                    <th><%= link_to "確認", attendance_change_application_confirmation_show_user_path(user.id, date: day.worked_on), class: "btn btn-primary" %></th>
                  </tr>
                  
                </tbody>
              <% end %>
            <% end %>
            
          </table>
        <% end %>
        
        <%# テーブルの中に入れるとボタンが動作しなくなる・テーブルをテーブルの中に入れ子にしない %>
        <%= f.submit yield(:button_text), class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
      <% end %>
    </div>
  </div>
</div>